<html>
    <head>
        <title>Cadastro PessoaL</title>
    </head>
    <body>
	    <div>
            <h2><a href="/">Efetue um Cadasto e seja Premiado por isso!</a></h2>
			<p>Ajude pequenas empresas e seja premiado por isso!</p>
        </div>
		
        <div>
            <h2><a href="/">Quem Somos:</a></h2>
			<p>Somos uma pequena estrutura tecnologica que tem a finalidade de ajudar desnvolvedores e pequenas empresas a crescerem no mercado.</p>
        </div>

        <div>
            <h2><a href="">O que Fazemos:</a></h2>
            <p>No mundo de hoje o crescimento de dados -e inevitavél e nós temos extremo interesse nesse crescimento, nosso projeto tem a função de receber dados diversos, unificá-los, padroniza-los e trata-los para disponibilizar para empresas testarem seus produtos, tudo isso de acordo com as Boas Práticas da LGPD.</p>
        </div>

        <div>
            <h2><a href="">Porque Fazemos</a></h2>
            <p>Nós entendemos a importancia dos Dados no mundo atual, mas entendemos que o ais importante são os dados corretos no lugar corretos de forma correta, e por isso estamos aqui!.</p>
        </div>
		
		<div>
            <h3><a href="/">Entre em Contato Conosco:</a></h3>
			<p>thimnahindira@gmail.com.</p>
        </div>
		
	
    </body>
</html>
