<html>
    <head>
        <title>CadaStro PessoaL</title>
    </head>
    <body>
        <div>
            <h2><a href="/">Quem Somos</a></h2>
			<p>AQUI VAI UM TEXTO MANEIRO.</p>
        </div>

        <div>
            <p>Atualizado em: 11.06.2020, 23:57</p>
            <h2><a href="">O que Fazemos</a></h2>
            <p>EU VOU COLOCAR UM TEXTO LEGAL AQUI.</p>
        </div>

        <div>
            <p>Atualizado em: 11.06.2020, 23:57</p>
            <h2><a href="">Porque Fazemos</a></h2>
            <p>AQUI VAI OUTRO TEXTO MANEIRO.</p>
        </div>
    </body>
</html>
